<div  style="display: block;flex-wrap: wrap;flex: auto ; width: 150px;">
Assignement 4
<img src="../assets/85f686f479cd658db6c75845cd22b52a.jpg" alt="" height="50px" width="50px"  (mouseenter)="first()">
<img src="../assets/HD-wallpaper-gulab-ke-phool-wala-animated-flower-thumbnail.jpg" alt="" height="50px" width="50px">
<img src="../assets/HD-wallpaper-gulab-phool-wala-animated-rose-in-pot-flower.jpg" alt="" height="50px" width="50px">
</div>
<div>
  <div *ngIf="first"></div>
  <div *ngIf="second"></div>
</div>

